[2016-06-05 22:04] lfarnell opened #1 "Adding Appium to the list of Drivers"
I've forked the project in order to add Appium to the set of drivers available. The project is hosted on bitbucket just like the phantomjs driver. The only difference is that the file name is like AppiumForWindows_1_4_16_1.zip instead of phantomjs-1.1.1.zip and i'm using the same code from the phantomjs driver with little modification which is the url in the configuration and it always seems to fa

[2016-06-06 07:03] rosolko commented on #1
@lfarnell It's seems like application need to be installed after downloading. Not only downloading and unzipping, is it?

[2016-06-06 08:13] rosolko commented on #1
@lfarnell
Checkout new version and give some feedback.
Note: due to installation limitation - if project isn't start as admin - program will promt you for privilegies when install appium driver in system.

[2016-06-10 06:15] #1 closed

[2016-06-10 12:37] lfarnell commented on #1
I will pull the changes when i get a chance this weekend. Thanks for beating me to the punch!

[2016-06-10 20:22] rosolko commented on #1
@lfarnell
I've already implement and release this feature.
Just checkout new (1.1.1) and give some feedback.
If application required some changes.
Thanks.

[2016-06-24 13:48] rosolko opened #2 "Add to PATH functionality working weird."
Seems like we can't property update PATH environment.

**Preconditions**:
1. When i create environment variable for some driver and call it in accordance with them, for example chrome: `webdriver.chrome.driver`
2. Insert some path to variable, eg: `D:\some\path\on\disk\`
3. Before adding `%webdriver.chrome.driver%` variable to PATH I'm getting value from PATH.

**Issue**:
I'm getting value from PA

[2016-11-10 14:48] SergeyPirogov opened #3 "ChromeWebdriverManager fails with Exception"
For ChromeWebdriverManager got exception at the very beginning:

Unhandled Exception: WebDriverManager.Helpers.WebDriverManagerException: Error occurred during browser driver archive downloading ---> System.Net.WebException: The remote server returned an error: (404) Not Found.

[2016-11-10 15:09] SergeyPirogov opened #4 "FireFoxDriverManager exception"
Unhandled Exception: WebDriverManager.Helpers.WebDriverManagerException: Error occurred during adding(updating) browser driver environment variable ---> System.Security.SecurityException: Requested registry access is not allowed.

[2016-11-10 15:09] rosolko commented on #3
@SergeyPirogov Can you please specify what sort of driver do you try to initialize?

[2016-11-10 15:10] SergeyPirogov commented on #3
@rosolko Chrome

[2016-11-10 15:11] rosolko commented on #4
@SergeyPirogov To work with system variables you need to administrator privileges.

[2016-11-10 15:12] SergeyPirogov commented on #4
@rosolko Ok, how to enable them? I've just put my peace of code as you showed in example

[2016-11-10 15:14] rosolko commented on #4
@SergeyPirogov Run you tests/IDE with admin administrator privileges.

[2016-11-10 15:17] SergeyPirogov commented on #4
Unhandled Exception: OpenQA.Selenium.DriverServiceNotFoundException: The geckodriver.exe file does not exist in the current directory or in a directory on the PATH environment variable. The driver can be downloaded at https://github.com/mozilla/geckodriver/releases.

[2016-11-10 18:43] rosolko commented on #4
@SergeyPirogov Good. This is okay. Check please path variables for `webdriver.gecko.driver`. If it existas and contains valid value add `%webdriver.gecko.driver%` to `PATH`. For now I didn't add it automatically because of issue #2

[2016-11-10 19:25] rosolko commented on #3
@SergeyPirogov Fixed in version 1.2.3

[2016-11-11 10:26] SergeyPirogov commented on #3
Unhandled Exception: OpenQA.Selenium.DriverServiceNotFoundException: The chromedriver.exe file does not exist in the current directory or in a directory on the PATH environment variable. The driver can be downloaded at http://chromedriver.storage.googleapis.com/index.html.

[2016-11-11 10:43] SergeyPirogov commented on #4
@rosolko Well variable exists and have valid path, but still require me to set Variable.

Of course, I can easily add it, but the main purpose of the library is to do that automatically, so I will be able to run my tests whenever I want.

[2016-11-11 11:57] rosolko commented on #4
@SergeyPirogov I can enable `PATH` overriding by default, but as I sad previously the way to override them isn't so good :(

[2016-11-11 12:44] SergeyPirogov commented on #4
@rosolko So while it's not solved people will not use this library. Because as a user i want to add library and see magic, but now I struggle will all this problems.

Moreover I think this behavior should be documented somehow

[2016-11-11 17:55] rosolko commented on #3
@SergeyPirogov Can you please checkout build 1.3.0 and verify this on your side?

[2016-11-11 17:55] rosolko commented on #4
@SergeyPirogov Can you please checkout build 1.3.0 and verify this on your side?

[2016-11-11 19:40] #2 closed

[2016-11-12 13:08] #3 closed

[2016-11-12 13:09] #4 closed

[2016-11-14 11:55] SergeyPirogov commented on #4
Now it works well

[2017-01-03 19:05] gerryhernandez opened #5 "Cross-Platform .NET Core Support"
I was about to write a similar package (inspired by the Java package of the same name, which it looks like you've taken a similar direction), but then I came across this project. Awesome!

So Selenium is on the brink of getting .NET Core support. There is an open pull request (https://github.com/SeleniumHQ/selenium/pull/2269) and a preview package is available on NuGet (https://www.nuget.org/packa

[2017-01-04 11:46] rosolko commented on #5
@gerryhernandez Looks interesting. But I'm also new with .NET Core. So I can't promise a quick solution. So **PR** are very welcome.

[2017-04-28 07:17] svenruechel opened #6 "Target Framework"
Is it possilbe to set the target framework to 4.0 or 4.5? I don't want to force everybody using my application to download the latest framework.

[2017-04-28 09:32] rosolko commented on #6
@svenruechel I set target framework to 4.5.2 and publish new version 2.2.1

[2017-04-28 09:35] #6 closed

[2017-04-28 11:11] svenruechel commented on #6
Thank you!

Von: Alexander Rosolko [mailto:notifications@github.com]
Gesendet: Freitag, 28. April 2017 11:33
An: rosolko/WebDriverManager.Net <WebDriverManager.Net@noreply.github.com>
Cc: Sven Rüchel <sven.ruechel@souffleuse.de>; Mention <mention@noreply.github.com>
Betreff: Re: [rosolko/WebDriverManager.Net] Target Framework (#6)

@svenruechel<https://github.com/svenruechel> I set target framewor

[2017-06-26 09:44] gjarosz opened #7 "Manager downloads only latest version of the driver for Edge"
I tried to run some tests on Windows 10 (I`m before upgrade), so the correct version of driver for my system is the one labeled "[Release 14393](https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/)" on Microsoft's site

I tried to choose the right version using:
`new DriverManager().SetUpDriver(new EdgeConfig(), "3.14393");`

When I tried to run some tests using the driver a stra

[2017-06-26 16:46] rosolko commented on #7
@gjarosz You're correct. It's hard to automatically get right link for selected version because of Microsoft release strategy with strange download links.
In this case I decide to get only latest version by default. I don't want to hard-code download urls for some specific versions.
And your solution with manual configuration good enough, because you're need some specific version.
I try to researc

[2017-06-28 07:44] gjarosz commented on #7
Well. I was thinking how this can be changed to support other versions as well.
The good thing is that we are already pulling driver versions and urls when parsing microsoft's site, so instead of taking first item we could use whole list.

One idea I have was to introduce a method which would take into account version and architecture like:
`GetUrl(string version, Architecture architecture) {}`
An

[2017-06-28 11:49] rosolko commented on #7
@gjarosz You're right this changes, I mean change build url strategy to create map and build, affect all code and implementations.
In this case I promote you to use your custom implementation of driver config, it easy and clear solution to use exact this version, and use standard implementation for latest version.
And you can also try to create your own implementation of _CustomConfig_ by implemen

[2017-07-14 13:19] #7 closed

[2017-08-29 06:59] frankvu191 opened #8 "Driver binaries are not downloaded"
Hello,
I tried to use ChromeDriver but seems like the binary is not downloaded. Please see attachment for detail
![2017-08-29_1354](https://user-images.githubusercontent.com/6407084/29808441-f130cf7e-8c4c-11e7-8494-19ac089d2a4a.png)
Thanks,
Frank

[2017-08-29 09:09] rosolko commented on #8
@frankvu191 That's strange. Tests on CI aren't failed.
Can you please specify, where do you store your tests?
Do you run you IDE with admin privileges?
Later I've try to reproduce this issue locally.
Thanks.

[2017-08-29 15:46] rosolko commented on #8
@frankvu191 Sorry, but I can't reproduce this issue locally.
Library download archive to temporary directory. After that in unpack binary to project path like that: `<ProjectDirectory>/bin/Debug/Chrome/2.31/X32/chromedriver.exe`
Code that I've use:
[code]

[2017-08-30 10:29] frankvu191 commented on #8
Hi Rosolko,
Thanks for quick reply. I run the test with VS2017 on Windows 10 with param and without param to setup driver. I run with admin account in 2 different machines.
Kind regards,
Frank

[2017-08-30 10:49] rosolko commented on #8
@frankvu191 Thanks for information.
Frank that was misunderstood I mean admin **privileges** for VS not admin **account**.
It looks like VS set current directory to VS location folder, and it's placed on `C` drive where you don't have direct access.

[2017-09-01 10:31] rosolko commented on #8
@frankvu191 Any news or updates?

[2017-09-01 10:37] frankvu191 commented on #8
Sorry for late update. You are right, should run VS with admin privilege. It is working fine now.
Thanks

[2017-09-01 11:32] #8 closed

[2017-11-24 17:36] AnisulKarim opened #9 "Unable to Open Config file:"End of Central Directory record could not be found""
Getting following error while trying to utilize Webdriver Manager
new DriverManager().SetUpDriver(new ChromeConfig()), failed to open ChromeConfig() and got following error
"An exception of type 'System.IO.InvalidDataException' occurred in System.IO.Compression.FileSystem.dll but was not handled in user code"
Unzip software is WinRAR

Your help will be apprecaited
Thanks

[2017-11-25 08:48] rosolko commented on #9
@AnisulKarim Fix published, looks like I've used wrong compression library dependency. Can you please try to update to 2.2.4 version and give feedback?

[2017-11-27 14:29] AnisulKarim commented on #9
I updated to version 2.2.4, but still got the same error.Version 2.2.2 works perfectly fine in my colleague's work station but when i ran same test in my work station, it throw error

**"An exception of type 'System.IO.InvalidDataException' occurred in 'System.IO.Compression.FileSystem.dll but was not handled in user code

Additional information: End of Central Directory record could not be found*

[2017-11-27 14:45] rosolko commented on #9
@AnisulKarim Unfortunately I can't reproduce this issue and I didn't face that issue before. Can you please try to use some other unzip software such as 7zip?

[2017-12-09 16:38] rosolko commented on #9
@AnisulKarim Any news?

[2017-12-13 11:52] #9 closed

[2018-03-09 13:58] IljaSnakeware opened #10 "FirefoxConfig"
`https://github.com/mozilla/geckodriver/releases/download/v<version>/geckodriver-v<version>-win64.zip`

Latest version is v0.19.1

`https://github.com/mozilla/geckodriver/releases/download/vv0.19.1/geckodriver-vv0.19.1-win64.zip`
^This will not work

[2018-03-09 14:05] IljaSnakeware opened #11 "Firefox & Opera error"
With the drivers Firefox and Opera, I get this error:

[2018-03-09 14:06] rosolko commented on #11
@IljaSnakeware can you please provide full stack trace?

[2018-03-09 14:51] jamesaslett1985 opened #12 "Access to nonexistent path?"
When I try to use WebDriverManager as follows:

    public static void Initialize()

        {
            new DriverManager().SetUpDriver(new ChromeConfig());
            Instance = new ChromeDriver();
        }

I get this error message:

Message: System.UnauthorizedAccessException : Access to the path 'D:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\Chrome\2.36\X64' is

[2018-03-09 15:14] rosolko commented on #12
@jamesaslett1985 Run VS with administrator privileges.

[2018-03-09 15:48] rosolko commented on #12
@jamesaslett1985 This happens because IDE located on system drive. Library trying to create folder and place binary there, but w/o access it isn't possible.

[2018-03-09 16:44] rosolko commented on #11
Fixed in 2.2.5

[2018-03-09 16:44] #11 closed

[2018-03-09 16:44] rosolko commented on #10
Fixed in 2.2.5

[2018-03-09 16:44] #10 closed

[2018-03-14 12:09] #12 closed

[2018-03-14 12:09] rosolko commented on #12
Reopen if reproduce.

[2018-03-14 12:27] jamesaslett1985 commented on #12
This resolved the issue - many thanks

[2018-06-18 08:41] Iginis opened #13 "FirefoxConfig cannot download driver."
[code]

Issue at line 18 (FirefoxConfig()): System.IO.InvalidDataException: 'End of Central Directory record could not be found.'

[2018-06-18 19:56] rosolko commented on #13
@Iginis Sorry, but I can reproduce this issue. Not locally not on CI.

[2018-06-19 00:43] Iginis commented on #13
What do you think you need more info about to get around the issue? It seems as if the WebDriverManager can't download the driver because the url path is not correct.

[2018-06-29 09:56] WiseJoeyD opened #14 "InternetExplorerConfig cannot download driver"
[code]

Issue when getting the Internet Explorer driver:

Looking further into it the URL isn't being created properly - it's looking for

Missing is the release number.

Seems the code that pulls the current version from the selenium page is working (returning 3.13.0 as of June 2018) but then somehow it doesn't get added into the URL correctly.

[2018-06-29 10:00] rosolko commented on #14
@WiseJoeyD Yes. I already fix this issue and push changes, but before new version creation I want to get answer for sibling bug.

[2018-06-29 10:03] rosolko commented on #14
@WiseJoeyD Before public release you can create custom provider with overridden method:

[2018-07-03 15:04] WiseJoeyD commented on #14
Created a customised internet explorer config

Also noticed there's an XML list of IE Web Drivers (along with some other packages and zips), so tried this and seems to work well; maybe more future proof?

[code]

[2018-07-04 06:39] rosolko commented on #14
@WiseJoeyD Line with `return $"{mostRecentVersion}.0";` isn't look strong. What if patch version will be different from `0`?

[2018-07-04 09:23] WiseJoeyD commented on #14
Just need to change the Regex to get the last part of the Key value with the longer version.  An added benefit is you wouldn't need to check whether to add the .0 or leave the subversion number as is

[code]

[2018-07-04 09:56] WiseJoeyD commented on #14
Change

`var versionRegEx = new Regex(@"[0-9.]+?(?=\/)");
`
to

`var versionRegEx = new Regex(@"(?<=_)(\d{1}(\.\d+)+)");`

Remove

`return $"{mostRecentVersion}.0";`

simply return mostRecentVersion

Seems like it should handle all versions, and hotfixes?

[2018-07-08 14:36] #13 closed

[2018-07-08 14:36] #14 closed

[2018-08-31 13:40] IljaSnakeware opened #15 "Firefox"
Firefox isn't working anymore

Message: System.NullReferenceException

[2018-09-03 18:13] rosolko commented on #15
Fix available in 2.2.7 version.

[2018-09-03 18:13] #15 closed

[2018-09-14 10:18] IljaSnakeware opened #16 "Error FireFox"
Message: System.InvalidOperationException : Expected browser binary location, but unable to find binary in default location, no 'moz:firefoxOptions.binary' capability provided, and no binary flag set on the command line (SessionNotCreated)

[2018-09-14 10:20] rosolko commented on #16
@IljaSnakeware Can you please show the code.
Based on message - looks like you have no firefox or install it in custom location and don't pass it in desired capabilities during session initialization.

[2018-09-14 11:16] IljaSnakeware commented on #16
It worked fine but when I changed Firefox to __Firefox (in the folder), it installed a new one I think. The difference between them is: the working one has two folders in it (0.20.1 & 0.21.0), and the one that isn't working has only one (0.21.0)

[2018-09-14 11:35] IljaSnakeware commented on #16
What do you mean?
I'm working with Selenium.

[2018-09-14 11:48] rosolko commented on #16
@IljaSnakeware I'm talking about original exception. It can be not from driver manager itself - issue can be on selenium side

[2018-09-14 11:49] rosolko commented on #16
@IljaSnakeware Just show you code and exception with stacktrace

[2018-09-14 11:51] IljaSnakeware commented on #16
But Chrome works fine

[2018-09-14 11:56] IljaSnakeware commented on #16
StackTrace:
RemoteWebDriver.UnpackAndThrowOnError(Response errorResponse)
RemoteWebDriver.Execute(String driverCommandToExecute, Dictionary`2 parameters)
RemoteWebDriver.StartSession(ICapabilities desiredCapabilities)
RemoteWebDriver..ctor(ICommandExecutor commandExecutor, ICapabilities desiredCapabilities)
FirefoxDriver..ctor(FirefoxOptions options)
WebDriverFactory.CreateBrowserDriver(WebDriverT

[2018-09-14 11:56] #16 closed

[2018-09-14 11:57] IljaSnakeware commented on #16
Oops wrong button..

[2018-10-30 10:20] Noksa opened #17 "Linux support?"
Hello.

If I run code with tests on Linux using mono, I get an error.

Code example:
[code]

Error:
[code]

You can simple check what OS is used by calling `RuntimeInformation.IsOSPlatform(OSPlatform.Linux)`

[2018-10-30 11:11] rosolko commented on #17
@Noksa It will be nice if you provide your implementation.

[2018-10-30 12:15] Noksa commented on #17
@rosolko
No problem, tomorrow. Now it's time to go home.

[2018-11-13 08:47] #17 closed

[2018-11-13 08:47] rosolko commented on #17
Wait for code to update readme file with.

[2018-11-26 14:13] IljaSnakeware opened #18 "Firefox error"
At `namespace WebDriverManager.DriverConfigs.Impl`

"https://github.com/mozilla/geckodriver/releases/download/v<version>/geckodriver-v<version>-win64.zip";
This doesn't work, because the version already has a **v**

[2018-11-26 18:56] rosolko commented on #18
It works.
This **v** symbol is removed in in firefox config in line [43](https://github.com/rosolko/WebDriverManager.Net/blob/master/WebDriverManager/DriverConfigs/Impl/FirefoxConfig.cs#L43)

[2018-11-26 18:56] #18 closed

[2018-12-05 11:01] rosolko opened #19 "Investigate EdgeConfig fails"
[code]

[2019-01-16 16:11] #5 closed

[2019-02-28 15:19] sid2934 commented on #9
@rosolko My self and my colleague were experiencing this issue on 2/27/2019 we were able to fix this by deleting all files in the download location of the drivers. It appeared that the web driver that we were trying to use (Chrome) was corrupted or malformed.

Figured that I owe it to you to grave dig this ticket. Thanks for the library its a great help.

[2019-05-22 10:02] FrameBassman opened #39 "Non-windows release date?"
You have several changes for non-windows environment after 2.4.0 release (https://github.com/rosolko/WebDriverManager.Net/commit/a1713e6178891a5e19bdbf05c47e4f59a3a3c011 or https://github.com/rosolko/WebDriverManager.Net/commit/b9781a2e07befab8369915c97084af3d13a371a6).
When you are going to release this changes?

[2019-05-22 10:14] rosolko commented on #39
Tonight or tomorrow morning

[2019-05-22 10:14] #39 closed

[2019-06-21 14:53] pkell opened #42 "GetLatestVersion for ChromeConfig hardcoded to ChromeDriver 74"
In recent versions, the GetLatestVersion method in ChromeConfig is using the URL "https://chromedriver.storage.googleapis.com/LATEST_RELEASE_74".
This is fetching the latest release of V74 but ChromeDriver is already at V75.
Should the URL not be "https://chromedriver.storage.googleapis.com/LATEST_RELEASE" ?

[2019-06-22 14:25] rosolko commented on #42
Available in 2.5.1 version

[2019-06-22 14:25] #42 closed

[2019-06-27 20:44] Taylor-Daly opened #44 "System.ArgumentException: Illegal characters in path"
I'm getting the error System.ArgumentException: Illegal characters in path in the GetBinDestination method. I'm trying to use ChromeDriver with automatic setup.

https://github.com/rosolko/WebDriverManager.Net/blob/df1bc94b14be833d75f64b669426d32641f8e938/WebDriverManager/Helpers/FileHelper.cs#L21

[2019-06-27 20:50] rosolko commented on #44
@Taylor-Daly Can't reproduce. On my side all going well

[2019-08-08 10:53] #44 closed

[2019-10-18 20:17] ToddRB opened #51 "Non chromium edge"
Hi, the latest version gets the edge driver URLS from the new pool of urls...
https://msedgedriver.azureedge.net/

But I still need to access the original ones. I'm just using a direct download link in SetupDriver, that I determine by the OS version.
new DriverManager().SetUpDriver(
                GetMicrosoftEdgeDownloadLink(version),
                Path.Combine(Directory.GetCurrentDirectory(),

[2019-10-21 07:28] rosolko commented on #51
@ToddRB Ok, I'll add support of legacy edge soon

[2019-10-24 16:53] rosolko commented on #51
@ToddRB Available in 2.7.0. Use `LegacyEdgeConfig` for non chromium edge

[2019-10-24 16:53] #51 closed

[2019-10-24 23:06] ToddRB commented on #51
That was fast! Thanks!

[2019-11-22 20:26] Jogai opened #53 "Match browser version"
Does this try to match the chrome version installed? For example build servers on azure have updated chrome unexpectedly. In that case it would be awesome if the manager tried to download the matching driver.

[2019-11-23 08:12] rosolko commented on #53
No, it doesn't by design.

[2019-12-01 02:52] lastlink opened #54 "ChromeOptions"
how do we pass in chromeoptions to we use the chromeconfig?

[2019-12-01 07:24] rosolko commented on #54
Chromeconfig specify the way to download chromedriver.
It's not about passing chromeoptions.
You have to initialize chromedriver and pass chromeoption in your test.

[2019-12-01 07:24] #54 closed

[2019-12-01 07:24] #53 closed

[2020-01-07 18:25] NetanelMosheCohen opened #56 "Can't run tests in parallel using WebDriverManager"
My project using Selenium + MSTest. Until now, I used the chromedriver from the nuget package and the tests are running perfectly in parallel.
I tried to use WebDriverManager instead of the chromedriver nuget package - when I run 1 test, everything works correctly. But when I trying to run tests in parallel (even 2 tests), one of the tests fails immediately and the 2nd test continue and running OK

[2020-01-08 08:21] rosolko commented on #56
@NetanelMosheCohen Can you please paste a full stack trace of error. Since I've lock unzip operation this error looks quite strange.

[2020-01-08 11:15] NetanelMosheCohen commented on #56
@rosolko There is no stack trace for this error.
I wrapped these code lines with lock and it fixed the issue.
But maybe you want to fix it on your side?

[2020-01-08 15:44] rosolko commented on #56
But I already wrap unzip method with lock, this is the only one place when the binary is copy to target path

[2020-01-08 17:41] NetanelMosheCohen commented on #56
yes but afterwards, at test run, the first test accessing the chromedriver and the second test that is running at the same time can't use it too.
I don't know how it is implemented but this is the behavior. Did you test it with parallel run?
@rosolko

[2020-01-08 17:49] rosolko commented on #56
@NetanelMosheCohen Yes, you're right. Project test run in a parallel but not for same config and lack for such test

[2020-01-09 10:23] lkkushan101 opened #57 "Unable to add the nuget package in solution done in .net framework 4.7.2"
Hi,

I'm unable to add the nuget package for a solution done in .net framework 4.7.2. Please advice.
Following is the error i'm getting

Install-Package : Could not install package 'WebDriverManager 2.7.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.2', but the package does not contain any assembly references or content files that are
compatible

[2020-01-09 11:14] NetanelMosheCohen commented on #56
@rosolko Sorry, I didn't understand what you wrote in the last comment, can you explain it again please?

[2020-01-09 11:48] rosolko commented on #56
@NetanelMosheCohen Test inside this project. I don't create a test which execute setup method for single config. Will extend them and try to fix a problem

[2020-01-14 08:45] lkkushan101 commented on #57
For now I'm using version 2.2.7 of webdriver manager as the framework is used on .NETFramework,Version=v4.7.2. Hope the latest 2.8.0 version resolves this issue.. Please reply soon

[2020-01-14 14:18] rosolko commented on #57
@lkkushan101 Hi, sorry for a long delay. Unfortunately I don't know why can't it target NETFramework4.7.2, documentation says that netstandard2.0.
Unfortunately for now I don't know how to fix it.
If you have a solution, please share them.
Thanks!

[2020-01-20 13:25] alexeypato opened #58 "Unable to use Firefox driver on Linux and Mac Os"
Hi

With the current implementation, it’s not possible for us to run a Firefox driver on Linux and Mac Os machines.

In order for the correct driver to download, you need to update FirefoxConfig class as ChromeConfig for example and add a method for unzipping * .tar.gz archives to BinaryService class.

[2020-01-20 13:57] Seploid opened #59 "New Microsoft Edge Browser doesn't work"
I tried to use your library to create driver for new Microsoft Edge browser and get following error:

: OpenQA.Selenium.DriverServiceNotFoundException : The MicrosoftWebDriver.exe file does not exist in the current directory or in a directory on the PATH environment variable. The driver can be downloaded at http://go.microsoft.com/fwlink/?LinkId=619687.

My code is very simple:

            new Dr

[2020-01-20 16:44] rosolko commented on #59
@Seploid This issue going from selenium. Inside library this driverr already have `msedgedriver` file name

[2020-01-20 16:44] #59 closed

[2020-01-20 17:32] rosolko commented on #58
Unfortunately for now I have almost no time to engage in the project, so PR are very welcome!

[2020-01-20 17:33] rosolko commented on #56
Lock full `SetUpDriver` method not only unzip. Will be available with 2.8.0 version

[2020-01-20 17:37] #56 closed

[2020-01-23 19:14] #58 closed

[2020-01-24 13:02] rosolko commented on #58
@alexeypato Available in 2.9.0

[2020-02-07 13:43] aonorgate opened #62 "DriverManager appears to be out of step with the latest Edge implementation and Selenium4.0.0 alpha4"
The new Edge post build 80 requires use of a different driver initialization and has been optimized for Selenium 4.0.0alpha04.

I don't seem to be able to get Driver Manager to work with the current Edge build and suspect it may be due to these recent changes which Microsoft declares are breaking to the previous method of initializing the webdriver and browser.

[2020-02-07 17:26] roysouma opened #63 "Chromedriver launch failing after updating to v80"
As soon as Chrome updated automatically to v80 Webdriver manager is failing to launch instance. I reverted back to v79 and things started working fine again. But unfortunately due to company policy chrome automatically updates again to v80 and results in failure.

[code]

[2020-02-07 19:08] rosolko commented on #63
Unable to reproduce this bug.
Reproduce your code in a test, run it and it's works well.

My chrome has version - 80.0.3987.87 (Official Build) (64-bit)
Library download chromedriver with version - 80.0.3987.16

Can you please provide double-check that issue and provide more info.
Browser verseion, downloaded driver version and test logs with error stack trace.

[2020-02-07 19:13] rosolko commented on #62
Got it.
Looks like I don't catch the problem.

As I understood, the latest download version of edge driver is incompatible with latest edge browser, I am right?

If yes, just pre-configure edge config to get compatible version of driver.
If no, please, describe a problem more specifically.

Thanks!

[2020-02-07 23:42] roysouma commented on #63
Hi rosolko,

The error message is : Message = "session not created: This version of ChromeDriver only supports Chrome version 78 (SessionNotCreated)"

The stacktrace is as below:
at OpenQA.Selenium.Remote.RemoteWebDriver.UnpackAndThrowOnError(Response errorResponse)
   at OpenQA.Selenium.Remote.RemoteWebDriver.Execute(String driverCommandToExecute, Dictionary`2 parameters)
   at OpenQA.Selenium.Re

[2020-02-08 04:10] roysouma commented on #63
Hi rosolko,

I unhid the command prompt and saw it is firing up old chrome driver:

Starting ChromeDriver 78.0.3904.105 (60e2d8774a8151efa6a00b1f358371b1e0e07ee2-refs/branch-heads/3904@{#877}) on port 58584
Only local connections are allowed.
Please protect ports used by ChromeDriver and related test frameworks to prevent access by malicious code.

DevTools listening on ws://127.0.0.1:58588/devtoo

[2020-02-08 06:31] roysouma commented on #63
[packages.zip](https://github.com/rosolko/WebDriverManager.Net/files/4173856/packages.zip)

[2020-02-08 07:14] roysouma commented on #63
Hi rosoljo,

I could debug the issue and find the root cause. The issue is occurring at line Environment.SetEnvironmentVariable(name, newPathVariable, EnvironmentVariableTarget.Process); in WebDriverManager. It is not throwing any error but also not adding to PATH. Hence it is not finding the correct webdriver.

So what do I have to do so that it add the chromedriver path properly in Environment v

[2020-02-08 15:08] rosolko commented on #63
Check if your current path variable.
Is it contains 78 chromedriver version path?
Is it contains 80 chromedriver version path?

[2020-02-08 15:38] roysouma commented on #63
It was some system issue. Uninstalled VS and deleted package. Reinstalled VS and checked out package and now everything went back to normal.

[2020-02-08 15:51] #63 closed

[2020-02-10 14:27] aonorgate commented on #62
So, using Edge Chromium 80, Legacy Edge 18362 and Selenium 4.0.0_alpha04:

LegacyEdgeConfig does not fully work to drive the Legacy Edge browser. The following code will Launch the Browser but cannot accept commands:
[code]

If i use EdgeConfig it works correctly for the Legacy Edge browser:
[code]

Following the new initialization process for build 80 (as per here: https://docs.microsoft.com/en-u

[2020-02-10 17:24] rosolko commented on #62
If use latest stable 3 version of selenium not an alpha one what will be result?

[2020-02-11 08:40] aonorgate commented on #62
With latest stable 3.141:

LegacyEdgeConfig - Launches legacy browser but unable to command - same behaviour
[code]

EdgeConfig - Launches legacy browser and can command - same behaviour
[code]

The final code snippet form above is not supported in Selenium 3, MS has an alternative but strongly pushes using the Alpha releases. If I use the other approach it initialises a RemoteWebDriver as as such

[2020-02-11 08:49] aonorgate commented on #62
What may also be complicating things is that from v18 of the Legacy Edge WebDriver onwards, no exe is provided from download and the WebDriver is a developer feature of Windows10.
See here: https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/

I have found it is still possible to locate the WebDriver exe locally once the feature has been enabled but I suspect DriverManager will no

[2020-02-25 13:27] Murali-Kedari-986 opened #64 "Does WebDriverManager-C# code support for Edge Chromium??"
I installed 2.19 web driver manger with my project.
I want to run the scripts in Edge chromium.
When I use below code, i am getting webexcetion -Unknown error
Code:
[code]

[2020-03-02 07:37] aonorgate commented on #64
I raised a similar issue here: https://github.com/rosolko/WebDriverManager.Net/issues/62

[2020-04-03 09:15] Anuja1408 opened #67 "If we pass 'Latest' word to firefox , it is not able to download the driver. This is downloading sometimes, but most of the time it is failing"

[2020-04-03 10:42] rosolko commented on #67
Can you please provide some information?
Currently you no need to provide any version if want to use latest one

[2020-04-03 11:00] Anuja1408 commented on #67
If we pass 'Latest' keyword in chrome, driver is downloading successfully.
new WebDriverManager.DriverManager().SetUpDriver(new ChromeConfig(), version: "Latest");

Same way , if we pass 'Latest' keyword in firefox, driver is not downloaded. But sometimes , it is downloaded . Drivers are not downloading consistently.
new WebDriverManager.DriverManager().SetUpDriver(new FirefoxConfig(), version: "L

[2020-04-03 11:09] rosolko commented on #67
Can you please also provide an error or logs if exists?

[2020-04-03 11:29] Anuja1408 commented on #67
system.io.filenotfoundexception is thrown if version is latest for firefox

[2020-04-05 16:50] rosolko commented on #67
Unfortunately I'm unable to reproduce this issue and unable to fix it :(

[2020-04-05 17:19] rosolko commented on #62
Update edge config to use latest version from a site provided before.
Hope it will fix the problem.
Also closes #64

[2020-04-05 17:19] #62 closed

[2020-04-05 17:19] #64 closed

[2020-04-05 17:20] #57 closed

[2020-04-06 05:05] Anuja1408 commented on #67
System.IO.FileNotFoundException: Could not load file or assembly 'System.Text.Encoding.CodePages, Version=4.0.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.
The system cannot find the file specified.WRN: Assembly binding logging is turned OFF.
To enable assembly bind failure logging, set the registry value [HKLM\Software\Microsoft\Fusion!EnableLog] (DWORD) to 1.

[2020-04-06 06:19] rosolko commented on #67
Look like the general problem is going from AngleSharp library, but I'm using this approach to get latest not only for firefox driver. Looks like need to deep analyze problem.

[2020-04-06 07:13] Anuja1408 commented on #67
Can you help us with any work around for this issue.

[2020-04-06 08:15] rosolko commented on #67
Sorry, but I have no ideas how to work around this issue, even reproduce it :(

[2020-04-07 19:05] Anuja1408 opened #68 "WebdriverManager for firefox throws System.Net.WebException: Could not create SSL/TLS secure channel, in MS test agents and build deployed through jenkins"
When we tried to run our scripts on Test agents through Jenkins, we are encountering an issue with firefox and an issue as follows:
System.Net.WebException: The request was aborted: Could not create SSL/TLS secure channel.

Tests are run in batch , with first test we see the above error and rest of the test scripts have two kinds of errors like above error and also System.NullReferenceException: O

[2020-04-07 21:11] rosolko commented on #68
Looks like this is environment issue. Can say nothing about it, because know nothing about code, environment, full stack-trace.

[2020-04-08 06:58] Anuja1408 commented on #68
This is not happening for chrome , only for firefox we face this issue.
System.Net.WebException: The request was aborted: Could not create SSL/TLS secure channel
Stack Trace:
18:39:35     at System.Net.WebClient.DownloadFile(Uri address, String fileName)
18:39:35    at WebDriverManager.Services.Impl.BinaryService.DownloadZip(String url, String destination)
18:39:35    at WebDriverManager.Services.

[2020-04-08 07:35] rosolko commented on #68
As I found [here](https://stackoverflow.com/a/2904963) for Windows XP, in Windows 7 solution required additional configuration

[2020-04-09 08:20] kavyashreer23 commented on #67
Hi Rosolko,
Thanks for the quick response you are providing for the issues posted

The below links shows a issue with Angle Sharp 0.13.0. This is the same error we are facing. Could you please check and let us know your thoughts
https://github.com/AngleSharp/AngleSharp/issues/842

Thanks

[2020-04-21 05:54] kavyashreer23 commented on #68
@rosolko This issue can be closed. Just before Firefox driver download call, we are forcing the application to use TLS1.2 security protocol

[2020-04-21 16:29] #68 closed

[2020-05-23 03:23] clevsampaio opened #71 "Driver Download"
Hi, my question is to understand the purpose of your project is to download the chrome driver, edge and others if not, right?

But I'm trying to use it, but I'm trying this return when using EdgeDriver:

`OpenQA.Selenium.DriverServiceNotFoundException: The MicrosoftWebDriver.exe file does not exist in the current directory or in a directory on the PATH environment variable. The driver can be downl

[2020-05-27 21:08] Piedone opened #72 "Exception with Edge Chromium"
First of all, thank you for the library!

I have an issue with Edge (using the latest 2.9.1 version of the library). The following code:

[code]

...throws this exception:

Chrome, Firefox, IE work. The driver exe is actually downloaded to Edge\85.0.529.0\X64.

Maybe related to but not the same as (because it's already fixed) https://github.com/rosolko/WebDriverManager.Net/issues/62.

[2020-05-27 21:26] Piedone commented on #72
Duplicate of: https://github.com/rosolko/WebDriverManager.Net/issues/71

[2020-05-27 21:26] #72 closed

[2020-05-27 21:32] Piedone opened #73 "Check browser version too"
The [Java WebDriverManager ](https://github.com/bonigarcia/webdrivermanager) also checks the version of the installed browser, I'd guess to use a compatible driver, even if it's not the latest. It seems to me that this library doesn't do that, so it would be great if you could add this feature too.

Thank you for considering my suggestion.

[2020-05-27 21:41] Piedone commented on #71
Same here. However, you can configure the path to the driver yourself when creating it:

[code]

So pretty much doing what `SetUpDriver()` does. Note that I've omitted a few things like it uses the latest version every time.

[2020-05-27 21:45] Piedone opened #74 "Use the latest non-canary release for Edge"
The "latest" version for all supported browsers is the latest released version on the main channel. For Edge it's the canary channel which is not something that you'd usually have installed if you're actually using Edge. So I suggest using the release version of Edge too as the "latest".

[2020-05-28 01:28] clevsampaio commented on #71
First of all thank you very much for answering, about your answer and testest and still giving an error, this time you returned an error to me: OpenQA.Selenium.DriverServiceNotFoundException: The file C: \ Users \ - \ AppData \ Local \ Temp \ Edge \ 85.0.529.0 \ X64 \ msedgedriver.exe does not exist. The driver can be downloaded at http://go.microsoft.com/fwlink/?LinkId=619687

[2020-05-28 11:45] Piedone commented on #71
Hmm, it seems that for you somehow it resolves the path to another folder. Anyway, try to figure out where WebDriverManager downloads the driver and configure the path to it in the ctor of EdgeDriver.

[2020-07-21 11:25] rosolko commented on #74
Closed by #77

[2020-07-21 11:25] #74 closed

[2020-07-21 16:52] Piedone commented on #74
Thank you!

[2020-07-23 15:21] orlagalvez opened #79 "Download chromedriver"
I'm having an issue when I try to start the app in a server it throws this error: "Access to the path 'C:\Windows\system32\Chrome\84.0.4147.30\X64' is denied" however we gave permissions to the user in that path and it still throwing the same error.

[2020-07-24 00:23] Piedone opened #80 "Latest Chrome release is beta"
The https://chromedriver.storage.googleapis.com/LATEST_RELEASE URL currently returns 85.0.4183.38 but that's actually the beta version of Chrome, the currently latest released version is 84.0.4147.89. Maybe a similar issue to https://github.com/rosolko/WebDriverManager.Net/issues/74? Or this is actually a ChromeDriver bug, as https://chromedriver.chromium.org/downloads/version-selection says

[2020-07-24 00:27] Piedone commented on #80
Seems to be a ChromeDriver bug: https://groups.google.com/forum/#!topic/chromedriver-users/KvOdZOfKld8

[2020-07-24 06:29] rosolko commented on #79
Run IDE with admin privileged. You're running tests on system disk and for writing IDE should have a admin privileges.

[2020-07-24 06:29] #79 closed

[2020-07-24 06:30] #80 closed

[2020-07-24 13:43] Piedone commented on #73
We at [Lombiq](https://lombiq.com) would like to sponsor this feature. Our primary concern is about running Chrome under Windows, should that matter. Would anybody like to talk about this? @rosolko?

[2020-07-24 15:27] BilalKhan199 opened #81 "session not created: This version of ChromeDriver only supports Chrome version 85"
We are getting this error "session not created: This version of ChromeDriver only supports Chrome version 85" since yesterday.0
Current stable Version of chrome is 84 and 85 is still beta.

Workaround, disabled the driver manager and directly provided executable path works.
Any suggestion how to fix it?

[2020-07-24 16:29] BilalKhan199 commented on #81
Never mind this workaround worked

  new DriverManager().SetUpDriver(
                        "https://chromedriver.storage.googleapis.com/84.0.4147.30/chromedriver_win32.zip",
                        Path.Combine(Directory.GetCurrentDirectory(), "chromedriver.exe"),
                        "chromedriver.exe"
                    );

[2020-07-24 16:29] #81 closed

[2020-07-24 16:32] Piedone commented on #81
Duplicate of https://github.com/rosolko/WebDriverManager.Net/issues/80. Good workaround!

[2020-07-24 16:33] Piedone commented on #81
https://github.com/rosolko/WebDriverManager.Net/issues/73 would solve such issues too.

[2020-07-28 07:11] rosolko commented on #73
Unfortunately as for now I'm quite busy and don't have a time for work on it :(

[2020-07-30 09:06] Dimitvp opened #82 "FirefoxConfig() returns "The remote server returned an error: (404) Not Found.""
I am not doing anything fancy. My implementation is straightforward:
`var driverManager = new DriverManager();

            if (isMozillaEnabled)
            {
                driverManager.SetUpDriver(new FirefoxConfig());

                FirefoxOptions firefoxOptions = GetFirefoxOptions();
                return new FirefoxDriver(firefoxOptions);
            }`
At driverManager.SetUpDriver(new

[2020-07-30 10:23] rosolko commented on #82
@Dimitvp Yes, correct. The problem on library side. Mozzilla change version tag structure for a new version and it broke version parse. I'll take a look as soon as I can.

[2020-08-02 15:21] rosolko commented on #82
Released in 2.9.3 version

[2020-08-02 15:21] #82 closed

[2020-08-05 10:17] tteguayco opened #85 "Download WebDriver version matching with browser version"
Hello,

For Google Chrome, I have noticed that the library downloads the WebDriver for the latest version if we use the automatic mode (given by the URL https://chromedriver.storage.googleapis.com/LATEST_RELEASE) or also a specific version that we can specify if using the manual way.

My question is, could we implement a third way that downloads the WebDriver version that matches the Google Chrome

[2020-08-05 10:29] rosolko commented on #85
Covered by #73

[2020-08-05 12:43] tteguayco commented on #85
Rehi, could we re-open this issue? I can take care of it, at least for Google Chrome (will have to evaluate for the remaining browsers). Will send you a PR with the additional functionality.

[2020-08-08 04:55] #71 closed

[2020-08-19 11:14] roysouma opened #87 "Issue with geckdriver download due to url change"
Script is failing at new DriverManager().SetUpDriver(new FirefoxConfig());
On debugging i noticed that geckodriver download url now reads as https://github.com/mozilla/geckodriver/releases/tag/v0.27.0 instead of https://github.com/mozilla/geckodriver/releases/download/v0.27.0 (this is hardcoded in the FirefoxConfig). Hence 404 not found exception is being thrown.

[2020-08-20 11:26] rosolko commented on #87
Hi, @roysouma. Unfortunately I can't reproduce this issue. If look at `FirefoxConfig` there is no changes in download url pattern for a long time.

[2020-08-20 11:29] roysouma commented on #87
Hi, @rosolko , then what could be the root cause? it was working previously. Can you mention the url formed for latest gecodriver here which you are able to access manually also? I will try hitting the same url manually and then maybe I can dig deeper.

[2020-08-20 11:49] rosolko commented on #87
https://github.com/mozilla/geckodriver/releases/download/v0.27.0/geckodriver-v0.27.0-win64.zip

[2020-08-20 12:02] roysouma commented on #87
I was on 2.9.1 and the error persisted, but as soon as it updated to 2.9.3 it was resolved.

[2020-08-20 12:02] #87 closed

[2020-08-31 21:40] StanlyLife opened #90 "InvalidOperationException: This version of ChromeDriver only supports Chrome version X (SessionNotCreated)"
**InvalidOperationException: session not created: This version of ChromeDriver only supports Chrome version 83 (SessionNotCreated)**

I am fairly new to web scraping, especially with web drivers. However, I have searched far and wide for a solution to the ChromeDriver compatibility issues and it seems like this package should fix that issue. As I am still receiving the same error and could not fin

[2020-09-01 00:42] MichielDean commented on #85
@tteguayco Do you have an ETA on this pull request, or do you need any help with it?
I would be glad to help out in any way that I can

[2020-09-01 06:46] rosolko commented on #90
@StanlyLife Can you please check your *Chrome browser* and *Chrome driver* versions.

[2020-09-01 09:39] tteguayco commented on #85
Hi, I haven't been able to implement this feature due to time constraints but I'll do it this week ASAP.

I plan to get Chrome's version from the registry, as stated [here](https://stackoverflow.com/a/14300356).

[2020-09-01 14:32] StanlyLife commented on #90
@rosolko Thank you for taking your time and investigating the issue. it seems like my chrome is of version 85.
____
[code]
___

However, in the console of the application, it seems to be running (driver) version `83.0.4103.39`

[code]

I thought _WebDriverManager_ was supposed to update this automatically(?)

[2020-09-01 15:56] tteguayco commented on #73
This feature has been implemented for Google Chrome.

PR: https://github.com/rosolko/WebDriverManager.Net/pull/91

[2020-09-02 10:35] deborahdcarlo commented on #90
Hey @rosolko  I am having the same problem as @StanlyLife , I have version 85.0.4183.83 in chrome browser, however, it seems that the manager is not being able to update automatically to the latest chromeDriver, which is 85.0.4183.8700, it is trying to use the version 83 instead.

I also thought the WebDriverManager would pick up the latest version of the driver automatically.

[2020-09-05 15:31] StanlyLife commented on #90
@rosolko Any thoughts?

[2020-09-05 15:59] StanlyLife commented on #90
UPDATE
______

Turns out I had installed Selenium.webdrivers.chrome and it was referring to version 83 of the extension... I downgraded to 81 to test and the same error message occurred except it said 81, not 83. I then removed that extension due to browser incompatibility and manually downloaded the driver and set envpath variables, this works.

I then removed the path from `ChromeDriver(@"C:\Web

[2020-09-05 16:52] StanlyLife commented on #90
Update
______

Adding `new DriverManager().SetUpDriver(new ChromeConfig(), "Latest", Architecture.X64);` Installed webdriver inside project folder. However, selenium does not seem to take the webdriver into consideration and is not using it without it beeing specified

[2020-09-07 04:50] dilshank90 opened #93 "This version of ChromeDriver only supports Chrome version 83 (SessionNotCreated)"
**Description of the problem :**
I am using webdrivermanager to manage chromedriver.exe. When I execute the code the following message was displayed in the console
Error Message:
    _OneTimeSetUp: System.InvalidOperationException : session not created: This version of ChromeDriver only supports Chrome version 83 (SessionNotCreated)_

**Browser and version :**
Google Chrome Version 85.0.4183.102 (

[2020-09-10 09:46] Dimitvp commented on #90
I think that your initial implementation, in the very first comment above, it is perfectly fine. I am using the same one and it is working in Production.

I am not sure but I think, Yes, this is what does this mean.
I was used to add the WebDriver in my project manually and use it the same way as you do. But since I am using the WebDriver Manager I **Deleted** the driver from my project and I am l

[2020-09-10 09:47] Dimitvp commented on #93
It seems to me that this is
Duplicate of #90

[2020-09-10 10:03] dilshank90 commented on #93
I used webdriver manager for my implementation from the beginning and it worked fine. Suddenly, my chrome browser got updated to the latest version and my test scripts started to fail due to this issue. Could you please tell me how to solve this issue?

[2020-09-10 10:57] dilshank90 commented on #93
@rosolko Any thoughts?

[2020-09-10 19:59] Piedone commented on #73
So I think this should be closed too, right?

Also, @tteguayco @rosolko please get in touch with me via the e-mail address under my profile about the sponsorship I mentioned above.

[2020-09-10 20:06] rosolko commented on #73
@Piedone Yes, also I want to merge #88 or #94 before release. I hope the new version will be released soon.

[2020-09-10 20:06] #73 closed

[2020-09-10 20:11] Piedone commented on #73
Fantastic!

[2020-09-14 15:19] brierley-automation opened #95 "MicrosoftWebDriver.exe is not found"
When using DriverManager().SetUpDriver(new EdgeConfig()); the Microsft Edge Driver executable is being downloaded as msedgedriver.exe.

The Microsoft.Edge.SeleniumTools packages EdgeDriver class expects the exe to be named MicrosoftWebDriver.exe and thus does not find the executable and an exception is thrown.

Microsoft.Edge.SeleniumTools version 3.141.2
WebDriverManager version 2.9.3

[2020-09-14 15:50] rosolko commented on #95
`EdgeConfig` is related to latest `chromium based` edge version and related `drive` has name equals to `msedgedriver`.
`MicrosoftWebDriver` driver name is related to `non chromium based` edge browser.

So there is two solutions:
1. User proper config for proper browser
2. Create an issue in `Microsoft.Edge.SeleniumTools` package

[2020-09-14 15:50] #95 closed

[2020-09-14 16:07] brierley-automation commented on #95
Thanks, not sure how I missed that.

Sure enough setting EdgeOptions.UseChromium to true causes EdgeDriver to use the msedgedriver.exe name and not MicrosoftWebDriver.exe.

[2020-09-17 12:52] #67 closed

[2020-09-17 12:53] #90 closed

[2020-09-17 12:53] #93 closed

[2020-09-19 14:36] DougShuffield opened #96 "new DriverManager().SetUpDriver(new EdgeConfig(), "Latest") receives System.Net.WebException: 'The remote server returned an error: (404) Not Found.'"
Working yesterday, but now getting 404 error when executing this line:

new DriverManager().SetUpDriver(new EdgeConfig(), "Latest");

Error:
System.Net.WebException: 'The remote server returned an error: (404) Not Found.'

[2020-09-19 18:43] rosolko commented on #96
Looks like some time source Microsoft site not available

[2020-09-19 18:43] #96 closed

[2020-09-21 15:23] anebot opened #97 "Not works with latest version of Windows Edge."
The Lasted_stable version of Edge webdriver (_85.0.564.60_) is only available for the Mac platform.
Since SetUpDriver's ``version`` parameter is set to ``Latest``, the generated download link is wrong for Windows platforms, so a 404 error code is returned.

**Proposed solution:**
I can understand that due automatically updates the version parameter is set to ``Latest``, but from my point of view,

[2020-09-21 15:42] anebot opened #98 "Microsoft Edge. 'MicrosoftWebDriver.exe file does not exist.' Exception"
It seems the name of the driver has changed and it doesn't match which the expected by the lib.

`The MicrosoftWebDriver.exe file does not exist in the current directory or in a directory on the PATH environment variable. The driver can be downloaded at http://go.microsoft.com/fwlink/?LinkId=619687`

At this moment, you have to rename the file manually to get it  working...

[2020-09-21 18:20] rosolko commented on #98
This name `MicrosoftWebDriver.exe` is related to deprecated edge browser.

[2020-09-21 18:32] rosolko commented on #98
Temporary use `VersionResolveStrategy.MatchingBrowser` as version in `EdgeConfig`

[2020-09-21 18:32] #98 closed

[2020-09-21 18:34] #97 closed

[2020-10-09 10:25] takielias opened #101 "Could not install package 'WebDriverManager 2.11.0'"
`Could not install package 'WebDriverManager 2.11.0'. You are trying to install this package into a project that targets`

I'm using vs 2019 with .net 4.6

How Can I fix it?

[2020-10-09 12:17] rosolko commented on #101
Try to update .NET Framework to 4.6.1 version

[2020-10-10 22:30] MichielDean opened #102 "GetVersionWithoutRevision throws an ArgumentNullException if Chrome is not installed."
I think this would be a much better user experience if a custom exception, or at least an exception with a custom message were thrown. It could explicitly state that the Chrome installed version could not be found.

Here is the relevant portion of the stack trace. I ran this on a machine that did not have chome installed and this was the result:
[code]

[2020-10-11 00:02] MichielDean commented on #102
This is related to: https://github.com/rosolko/WebDriverManager.Net/pull/91

[2020-10-18 07:08] maksimetsa opened #104 "browser version detection on Linux MacOS"
useful to configure testing setup in Github Actions Environment on Linux machine

[2020-10-19 03:56] alenmeister commented on #104
Are you saying this library does not work for you on all platforms?
Have you even read through the code?

[2020-10-19 03:57] Ma3yTa commented on #104
Yes. I read. Dependent on Windows Registry @alenmeister

[2020-10-19 04:08] alenmeister commented on #104
That's only if you're using the "matching_installed" value, afaik.

[2020-10-19 04:10] Ma3yTa commented on #104
@alenmeister this is what I exactly need to match the version of google chrome installed on Github Actions environment

[2020-10-19 04:20] alenmeister commented on #104
Ahh, well in that case I would update the feature request to state what you just said.
I agree, we should probably implement the same feature for MacOS and Linux sometime.

[2020-10-19 04:57] Ma3yTa commented on #104
Github Environment description:
https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md

Ubuntu 20.04
![](https://i.imgur.com/v7xjOM6.png)
MacOS
![](https://i.imgur.com/wFz1PSs.png)

[2020-10-21 03:43] #101 closed

[2020-10-25 06:44] unominhtuan opened #105 "this is a small library, but it copies nearly 120 other dlls to the release directory?"
this is a small library, but it copies nearly 120 other dlls to the release directory?

[2020-10-25 17:48] rosolko commented on #105
This library depends only on 3 libraries:
1. AngleSharp
2. Microsoft.Win32.Registry
3. SharpZipLib

What exactly is the question?

[2020-10-26 01:34] unominhtuan commented on #105
Sorry for the question missing information. when used with .net framework on windows. the library automatically copies nearly 200 other dll files ...
including netstandard, all files in system, System.AppContext ... and much more ...
I want to ask is there a solution for this?
![Image 1](https://user-images.githubusercontent.com/43975116/97125269-fedd8c00-1765-11eb-89eb-7b32c81f7f06.png)

[2020-10-26 09:12] rosolko commented on #105
Just to confirm - is this behavior relate only for a single library dependency?

[2020-10-26 18:17] rosolko commented on #105
@unominhtuan Can't reproduce. I've create a new clean project (.net 4.7.2), add a library and it add only necessary small set of libraries.
![image](https://user-images.githubusercontent.com/11458319/97211741-8cee5c80-17d0-11eb-8fd1-d1c10dd2ce8b.png)

[2020-10-28 18:24] benalewis opened #106 "Doesn't work out of the box"
Doesn't work, create a new app with newest versions following instructions

Install-Package WebDriverManager
Install-Package Selenium.WebDriver

Run test, failure.

[2020-10-28 20:11] rosolko commented on #106
@brondavies What about stack-trace of error? Some information about configuration? Sample of code?

[2020-10-28 21:50] brondavies commented on #106
I think you mean @benalewis

[2020-10-29 07:32] rosolko commented on #106
@brondavies Oops, yes, you're right. Sorry about that.

[2020-11-10 08:42] #105 closed

[2020-11-10 08:42] #106 closed

[2020-11-18 07:52] FlafyDev opened #109 "Won't install the correct version"
The library installs the Chromedriver for version 87 even though the Chrome installed on my computer is version 86.
Also, reinstalling Chrome doesn't seem to update to version 87 yet.

Because of the mismatching versions, Chrome crashes instantly.

[2020-11-18 08:46] rosolko commented on #109
By default library get binary version from [url](https://chromedriver.storage.googleapis.com/LATEST_RELEASE).
And there chrome team set it to `87.0.4280.20` version.
If you want to get binary based on chrome version use `matching browser` strategy: `new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);`

[2020-11-18 08:46] #109 closed

[2020-11-24 06:14] iPiyushPatel opened #111 "New Edge - getting OpenQA.Selenium.WebDriverException: Unexpected error. Unknown error"
Hi team,
I'm getting the below error while trying to launch Edge browser the same way I did for Chrome. Please note - it works when we directly give Edge bin info via the path.

**Error:**
`Message:
    Initialization method AgilityHealth_Automation.Tests.AgilityHealth.Company.CompanyDashboardAddCompanyPage1Tests1.Setup threw exception. OpenQA.Selenium.WebDriverException: Unexpected error. Unknown

[2020-12-01 07:12] iPiyushPatel commented on #111
Well, I figured out the problem here. If I go to downloaded lib (at bin\Debug\Edge\87.0.664.52\X64) and change driver name to "MicrosoftWebDriver" then it works. Like this :
![image](https://user-images.githubusercontent.com/5212585/100708562-8c9a4000-33d2-11eb-9133-719fe0fd2c66.png)

Can you please fix this?

[2020-12-01 07:32] rosolko commented on #111
`MicrosoftWebDriver` is a name of legacy edge browser. For a latest one they using `msedge` name.
But if you want to work with `MicrosoftWebDriver` better use `LegacyEdgeConfig` config.

[2020-12-01 07:44] iPiyushPatel commented on #111
Hi @rosolko
Well, I'm launching a new edge only. And I would like to use that only. Can you see my code above and also snaps? so this issue with the new Edge only unless I'm missing any configuration here.

Please advice.

Thanks,

[2020-12-01 07:48] rosolko commented on #111
If new edge require old name of driver you should definitely report this issue to Microsoft team. As for now, you can temporary override config and set proper name. Toy can find it in documentation -
[manual way](https://github.com/rosolko/WebDriverManager.Net#manual-way) or [custom implementation](https://github.com/rosolko/WebDriverManager.Net#if-you-want-use-your-own-implementation-you-need-to-

[2020-12-01 08:04] iPiyushPatel commented on #111
Sure, got it, thanks much !  will give it a shot @rosolko !

[2020-12-01 09:22] iPiyushPatel commented on #111
Hi @rosolko
I've tried to use a custom config with just binary name change and it's not working. Actually, it no longer downloads binary (though it creates folders correctly), any idea?

`public class EdgeCustomConfig : EdgeConfig
    {
        public override string GetBinaryName()
        {
            return "MicrosoftWebDriver.exe";
        }
    }
}`

and

`new DriverManager().SetUpDriver(new

[2020-12-01 10:40] rosolko commented on #111
Can you try to not specify version, just `new DriverManager().SetUpDriver(new EdgeCustomConfig());`?

[2020-12-01 11:50] iPiyushPatel commented on #111
Hi @rosolko
I've tried that and I'm getting the same error. i.e. it creates a new folder for the latest version (89) but it doesn't have any.exe
Please advice.
Thanks,

[2020-12-02 08:56] iPiyushPatel commented on #111
Hi @rosolko
FYI - I was able to resolve this issue by upgrading to Selenium 4 and having the below code:
`new DriverManager().SetUpDriver(new EdgeConfig(), VersionResolveStrategy.MatchingBrowser);

                var options = new EdgeOptions {UseChromium = true};
                Driver = new EdgeDriver(options);`

[2020-12-03 09:58] rosolko commented on #111
Cool. So, can we close this issue?

[2020-12-03 10:04] iPiyushPatel commented on #111
Yes, Closing this, thanks for support.

[2020-12-03 10:04] #111 closed

[2020-12-08 15:12] zthun opened #113 "Driver download not extracting all necessary files"
Platform:  MacOS Big Sur (11.0.1)
Browser:  Microsoft Edge (87.0.664.55)
Version:  2.11.0

_Description_

When using edge between version 86 and 87 (latest stable release), the download of the zip file does not include all of the necessary files when running.  The file structure on OSX for edge looks like this:

* Driver_Notes
    * credits.html
    * LICENSE
* libc++.dynlib
* msedgedriver

In the

[2020-12-16 09:33] conradc-motwa25 opened #114 "API to get Chrome Driver download directory"
I am using new DriverManager().SetUpDriver(new ChromeConfig(), "MatchingBrowser");

Is there a way to query the chromedriver.exe download directory so that I use it to call ChromeDriverService.CreateDefaultService( ).

[2020-12-16 14:26] rosolko commented on #114
`SetUpDriver` method return path to `chromedriver.exe`. If you need directory just get if from returned path.

[2020-12-16 18:30] conradc-motwa25 commented on #114
For some reason, SetupDriver returns void instead of string.

[2020-12-16 20:58] conradc-motwa25 commented on #114
my WebDriverManager nuget package version is v2.11.0

[2020-12-17 07:53] rosolko commented on #114
Opps. Looks like I don't publish a new version with that fix. Try to deal with it today.

[2020-12-17 08:11] conradc-motwa25 commented on #114
Thanks.  Please let me know when you publish it.

[2020-12-19 09:33] rosolko commented on #114
2.11.1 version is published. Will be available soon.

[2020-12-19 09:33] #114 closed

[2020-12-19 09:48] conradc-motwa25 commented on #114
Thanks

[2021-01-21 13:35] TriStarGod opened #117 "System.InvalidOperationException: session not created: This version of ChromeDriver only supports Chrome version 88 Current browser version is 87.0.4280.141"
Hi guys,
I've been searching for an auto updating ChromeDriver library to run on my web scrapper server. After my recent implementation of this module, I thought all was well.

[code]

Today, the app failed due to getting the latest `ChromeDriver `version (88) while the current Google Chrome was version (87) (The opposite of what I commonly face with this app). I resolved it by updating Google Chr

[2021-01-23 04:35] TriStarGod commented on #117
Resolved it with the following

`new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);`

[2021-01-23 04:35] #117 closed

[2021-01-27 08:02] sidharathjain2 opened #119 "Webdriver manager not support for . net 4.0"
I m using this with .net 4.0 but it gives error

PM> Install-Package WebDriverManager
Installing 'WebDriverManager 2.11.1'.
Successfully installed 'WebDriverManager 2.11.1'.
Adding 'WebDriverManager 2.11.1' to Adinath.
Uninstalling 'WebDriverManager 2.11.1'.
Successfully uninstalled 'WebDriverManager 2.11.1'.
Install failed. Rolling back...
Install-Package : Could not install package 'WebDriverMan

[2021-01-27 13:39] rosolko commented on #119
It shouldn't. All of because target is `netstandard2.0` with `.NET Framework 4.6.1` equivalent.

[2021-02-22 08:31] #119 closed

[2021-03-05 19:19] cremope opened #122 "session not created: This version of ChromeDriver only supports Chrome version 83 (SessionNotCreated)"
When trying to use a commands:

"new DriverManager().SetUpDriver(new ChromeConfig());"
"_webDriver = new ChromeDriver();"

Displays the error "session not created: This version of ChromeDriver only supports Chrome version 83 (SessionNotCreated)"

Project:
C#
MsTest
Specflow
netcoreapp3.1

Chrome Version: 89.0.4389.72

Can you help me?

[2021-03-18 14:36] naeemakram commented on #122
The following code works fine for me, it is downloading the latest version of Chrome Driver automatically.
Which version of Chrome is installed on your machine right now, is it updated?

[code]

[2021-05-10 08:51] josefsirucka commented on #122
I have the same Issue now:

session not created: This version of ChromeDriver only supports Chrome version 88 Current browser version is 90.0.4430.93 with binary path C:\Program Files (x86)\Google\Chrome\Application\chrome.exe (SessionNotCreated)

Chrome driver installed: 90.0.4430.93
WebDriverManager 2.11.1

[2021-05-22 17:29] kirankumarsalamkayala commented on #122
Hi,
Receiving same error as stated above on Chrome browser version 90.0
any solution please

[2021-05-22 19:04] kirankumarsalamkayala commented on #122
@josefsirucka
I could resolve this issue by un installing Driver packages that i was using  and deleting the existing driver.exe files , try at your end this should work.

[2021-05-22 21:26] josefsirucka commented on #122
I have no driver package installed - and I have tried to delete existing exe driver, and the situation is the same.

[2021-06-04 23:17] i7solar opened #127 ""new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);""
"new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);"

Shoots an exception: System.Net.WebException: 'The remote server returned an error: (404) Not Found.'.

[2021-06-10 16:07] YoussofKhawaja commented on #127
same here

[2021-06-17 15:23] YoussofKhawaja commented on #117
new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);

this just don't work

always get error System.Net.WebException: 'The remote server returned an error: (404) Not Found.' not sure but i think error is there no all version of chromedriver same as chrome version

[2021-06-21 21:19] elumalaik opened #129 "IWebProxy setup is not working."
I am always getting 407 Proxy Authentication required message. Can you guide me any documentation to address this.

[2021-06-22 07:42] rosolko commented on #129
https://github.com/rosolko/WebDriverManager.Net#using-with-proxy

[2021-06-22 11:43] elumalaik commented on #129
Hi, Thanks for pointing out the URL. Can you please check if you can help on this.

  private class WebProxyStub : IWebProxy
        {
            public Uri RequestedUri { get; private set; }
            public ICredentials Credentials { get; set; }
            public Uri GetProxy(Uri destination) => new Uri("http://mycompanyurl");

            public bool IsBypassed(Uri host)
            {

[2021-06-22 21:30] #127 closed

[2021-06-23 07:04] rosolko commented on #129
@elumalaik Unfortunately I have no ideas :(

[2021-07-05 18:41] aasimahmed commented on #122
Pass in the Directory of the installed ChromeDriver returned through webDriverManager.SetupDriver(); to the first argument of new ChromeDriver();

https://github.com/SeleniumHQ/selenium/blob/trunk/dotnet/src/webdriver/Chrome/ChromeDriver.cs#L93 - Which takes the Directory as the first argument.

[2021-07-14 08:45] QA-automation-engineer opened #131 "Does WebDriverManager.Net support sort of DesiredCapabilities"
Hi everyone!

Actually, we are interested in `WebDriverManager.Net` for our project, but we can't find whether it supports `DesiredCapabilities` or not.

Please clarify this possibility.
Also some sort of example will be appreciated.
Thanks in advance.

[2021-07-14 12:44] rosolko commented on #131
This library only download driver binaries such a `chromedriver.exe`.
`DesiredCapabilities` is related to `WebDriver` with comes from `selenium`.

[2021-07-14 12:46] #131 closed

[2021-07-14 13:12] QA-automation-engineer commented on #131
thanks a lot

[2021-07-22 03:55] iouym commented on #104
@maksimetsa is this a feature you're still interested in? I've got something in mind that would address this.

[2021-07-22 04:04] maksimetsa commented on #104
@iouym not interested anymore but can be useful for somebody else.

[2021-07-27 07:42] iouym commented on #104
@rosolko this one can be closed off now merged as part of #133

[2021-07-27 10:40] #104 closed

[2021-07-27 12:57] jonathanlive opened #136 "System.InvalidOperationException : session not created: This version of ChromeDriver only supports Chrome version 90"
Please update the webdriver manager to get the new releases of ChromeDriver

Project:
C#
MsTest
Specflow
netcoreapp5.0

Chrome Version:  92.0.4515.107

[2021-07-27 13:43] rosolko commented on #136
Library took version from created by chromedriver development team that you can find by the link https://chromedriver.storage.googleapis.com/LATEST_RELEASE

[2021-07-27 15:18] jonathanlive commented on #136
I handled the issue using the manual implementation.

    new DriverManager().SetUpDriver(
                "https://chromedriver.storage.googleapis.com/92.0.4515.43/chromedriver_win32.zip",
                Path.Combine(Directory.GetCurrentDirectory(), "chromedriver.exe"),
                "chromedriver.exe"
            );

[2021-07-28 06:37] rosolko commented on #136
This case you prefer manual way for version configuration and you should update it on each release. But latest version strategy update it automatically based on previously posted file

[2021-07-30 04:42] Salman0250 opened #137 "Latest Chrome release is beta"
WebDriverManger is failing:
System.InvalidOperationException: 'session not created: This version of ChromeDriver only supports Chrome version 93
Current browser version is 92.0.4515.107 with binary path C:\Program Files (x86)\Google\Chrome\Application\chrome.exe (SessionNotCreated)'

The https://chromedriver.storage.googleapis.com/LATEST_RELEASE URL currently returns 93.0.4577.15 but that's actual

[2021-07-30 06:30] rosolko commented on #137
Yes, look like this bug is going from chromedriver team.

[2021-07-30 06:30] #137 closed

[2021-07-30 06:31] #136 closed

[2021-07-30 16:09] jabracadabrah opened #138 "Linux Support"
We use .NET 5

When running this on an Ubuntu agent
`new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);`

This exception is thrown
[code]

Will there be any Linux support?

[2021-08-02 18:13] rosolko commented on #138
I have no dedicated plans for it, but feel free to contribute and create pull request with such feature

[2021-08-12 19:38] cremope commented on #122
Sorry for the delay guys!

I was only able to get back to the subject now, and I managed to resolve it.
What I did was include the DriverManager call inside the new ChromeDriver().

In this way:

Remembering, it was necessary to update the Google Chrome browser for this.

It may be that your browser is about to update, and the SetUpDriver() method defaults to always getting the latest version of c

[2021-08-15 05:07] TroyWalshProf opened #139 "Support .Net Framework and Core 3"
WebDriverManger currently does not support .Net framework or Core 3.
See: https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support
Would like to expand support to Framework and Core 3.

[2021-08-19 20:20] #122 closed

[2021-09-14 15:00] kelmelzer opened #143 "Make RegistryHelper overridable due to Citrix restrictions"
My automation is running in a Citrix Desktop environment, and I don't have access to the registry so this package will not work for me. I can access the version by other means like from cmd:

wmic datafile where name="C:\\Program Files (x86)\\Microsoft\\Edge\\Application\\msedge.exe" get Version /value

I would like to override this class if possible.

[2021-09-21 17:22] BlinD-HuNTeR opened #145 "Directory.Move doesn't work on different volumes"
Sorry for the brief description, but this is easy to understand:

After the commit from pull request #135, a mechanism was implemented to support concurrency, by atomically moving the temporary directory to the destination. Problem is, **Directory.Move()** doesn't work if the source and target directories are on different volumes.

As a workaround, I'm changing the TMP environment variable to a di

[2021-09-22 12:42] aonorgate commented on #145
This is also affecting our setup when using an Azure pipeline where the package runs on a different volume to the browser.

[2021-09-23 15:10] eatonjl commented on #145
How do you change the TMP environment variable?

[2021-09-23 16:26] BlinD-HuNTeR commented on #145
Environment.SetEnvironmentVariable. I change it right before invoking SetupDriver, then restore the original value. Of course this is for Windows only.

[2021-09-23 18:06] eatonjl commented on #145
Thank you!

[2021-09-29 14:23] eatonjl commented on #145
I am trying to make this work, but I don't think I am understanding the concept. Could you show me how you implemented that? I am having no success on my code.

[2021-09-30 02:43] FermJacob commented on #145
Issue is happening on GitHub agents as well

[code]

[2021-10-04 20:54] #145 closed

[2021-10-06 03:34] FermJacob commented on #145
@BlinD-HuNTeR @aonorgate @rosolko

Validated with the new NuGet package that my CI builds are passing

[2021-10-19 21:26] wakoye commented on #129
From what i see, the proxy instance is never assign to the WebRequest.
            WebRequest.DefaultWebProxy = proxy;

I have a new error after assigning it.
I will try to make it work

[2021-10-25 07:10] dtopuzov opened #150 "Refactor get latest version logic for geckodriver"
The problem:
- Current logic parse the html page of GitHub releases (see the [implementation](https://github.com/rosolko/WebDriverManager.Net/blob/master/WebDriverManager/DriverConfigs/Impl/FirefoxConfig.cs#L43))
- This can fail if GitHub UI and styling are changed

Suggested solution:
- Replace current logic with parsing json from GitHub API
- All releases: https://api.github.com/repos/mozilla/ge

[2021-10-25 23:58] jschreider opened #151 "SetUpDriver for Firefox is returning error"
Up until two days ago the below code worked.  Now I am getting an error on SetUpDriver and my driver is null.  Similar code works fine in Chrome.

 private IWebDriver GetFirefoxDriverIWebDriver()
        {
            IWebDriver driver;
            DriverManager dm;

             dm = new DriverManager();
             dm.SetUpDriver(new FirefoxConfig());
             driver = new FirefoxDriver();

[2021-10-28 12:54] #151 closed, assigned to nobody

[2021-10-28 13:31] jschreider opened #153 "Version of ChromeDriver not supported"
I am getting this error:

System.InvalidOperationException : session not created: This version of ChromeDriver only supports Chrome version 95
    Current browser version is 94.0.4606.81 with binary path C:\Program Files (x86)\Google\Chrome\Application\chrome.exe (SessionNotCreated)

I thought that I would avoid seeing this type of error by using WebDriverManager.

My code is:

private IWebDriver

[2021-10-28 14:51] #150 closed, assigned to nobody

[2021-10-28 22:10] #153 closed, assigned to nobody

[2021-11-04 20:54] veerNeti opened #154 "Compatibility with DotNetCore"
Please confirm if this package is compatible with dotNetcore

[2021-11-08 15:05] n-ski opened #155 "Web drivers aren't being installed if pointed to an existing directory"
I have this test which installs drivers for Chrome and Firefox to the same directory (I use the current directory for simplicity).

[code]

`FileAssert.Exists` fails due to the invalid check in `SetUpDriver` which causes the method to return early even though no driver might be installed:
https://github.com/rosolko/WebDriverManager.Net/blob/b9120b5e6f7085aacc096bb03ffb18987617bcda/WebDriverManager

[2021-11-08 15:38] igorrecioh opened #156 "DriverServiceNotFoundException - EdgeDriver - v2.12.2"
Hi all,

I am using WebDriverManager.Net with version 2.12.2 and when I try to run test with Edge Driver it throws this exception:

`OpenQA.Selenium.DriverServiceNotFoundException : The MicrosoftWebDriver.exe file does not exist in the current directory or in a directory on the PATH environment variable. The driver can be downloaded at http://go.microsoft.com/fwlink/?LinkId=619687.`

The driver is

[2021-11-08 16:51] rosolko commented on #155
Hi, thanks for reporting this issue out. Feel free to prepare pull request, it make final  fix faster!

[2021-11-08 17:32] n-ski commented on #155
Well it probably has to wait until this weekend but I'll see if I can fix this earlier.

[2021-11-12 11:43] rosolko commented on #154
Unfortunately as for now I don't have ability to check such compatibility

[2021-11-30 14:47] JBelisle opened #160 "Not pulling any chromedriver past v.93"
I have been using this package on a test project that I haven't had to touch for a while, but then when I went to debug a test yesterday I started getting the error:
`OneTimeSetUp: System.InvalidOperationException : session not created: This version of ChromeDriver only supports Chrome version 93
Current browser version is 96.0.4664.45 with binary path C:\Program Files\Google\Chrome\Application\ch

[2021-12-03 11:04] SanthoshVarma03 opened #161 "jkdahsjdhsajdhsahdasjdhsajdhsadasdsahjdasdhsadasdhashdsahdsakdhsajdsajdsadhasdasdhsadsahdsadhsadsahkdhkashdahkdsahkfhdafkjdasfgsdgfjadfjdasfksdajkaskdl;WDKSKDASKLFDJASKLJDLSdl;asl"

[2021-12-03 13:08] JBelisle commented on #160
I figured out what was causing this. I switched our project over to using this package from using explicit chrome driver versions. The issue was that the previous package I used put chromedriver.exe in the bin directory of the project, and this package will not work properly if there is already a version of chromedriver.exe in the bin directory. Killing that pre-existing copy allowed this package

[2021-12-03 13:08] #160 closed

[2021-12-14 18:56] #155 closed

[2021-12-14 19:01] rosolko commented on #156
Not able to reproduce this issue, if have some additional info feel free to reopen this issue and put it into

[2021-12-14 19:01] #156 closed

[2021-12-14 19:07] #102 closed

[2021-12-14 19:13] #129 closed

[2021-12-21 03:51] developervariety commented on #154
Yes, it should work with .NET Core 3.0-5

[2021-12-23 06:26] anilr945 opened #163 "WebDriverManager is identified as consumer of log4j. Is Log4j used in WebDriverManager(or its dependencies) package? If so, what is the impact of Log4j vulnerability on WebDriverManager?"
Description of the problem: I am using WebDriverManager.2.2.7 and AngleSharp.0.9.10 in test automation with Selenium. And these two packages reported to remediate as because of log4j vulnerability. I would like to know are these packages really dependent on log4j/log4j2? If yes, what is the Log4j vulnerability impact? And how to remediate?

Operating system: Win10

WebDriverManager version: 2.2.7

[2021-12-23 07:22] rosolko commented on #163
WebDriverManager is not depends on log4j library. Also library stick to latest AngleSharp version which also directly don't use log4j

[2021-12-23 07:22] #163 closed

[2022-01-04 10:14] #154 closed

[2022-02-01 14:08] svadivel0006 opened #165 "WebDriverManager is not working"
Description of the problem: In Selenium C#, WebDriverManager is not downloading the old browser version drivers.

Browser and version: Chrome and V 86.0.4240.75

Operating system: Windows 10

WebDriverManager version: V 2.12.3

WebDriverManager call:
new WebDriverManager.DriverManager().SetUpDriver(new ChromeConfig());

WebDriverManager traces:

Message:
System.InvalidOperationException : session

[2022-02-10 04:11] Pookalton opened #167 "Default download directory"
How do I set or get the download directory?
It looks like it's thrown off the main program directory which might be an issue if the user doesn't have permission.
-Pook

[2022-02-11 21:16] sarangsmk commented on #167
Hello, Need an option or argument which specifies **where actually the driver or root driver folder should be placed** (or do we have that option..?). If our code/software follows a structured hierarchy then this can cause issues as a new unexpected folder is being added.

[2022-02-14 15:42] lauvers opened #168 "Edgedriver returns a 404 error"
![2022-02-14_15-56-10](https://user-images.githubusercontent.com/99663630/153887836-e7bee393-0a9a-4e75-83ba-89e8b51097dd.jpg)

Since this weekend (02/12) we get an error when trying to initiate a driver for MSEdge:
_System.Net.WebException: The remote server returned an error: (404) Not Found._

What does this mean?

Edge browser version: 98.0.1108.50
Selenium version: 4.1.0
WebDriverManager versi

[2022-02-14 16:16] lastas commented on #168
I got the same issue for MS Edge Chromium.
Based on my investigation, I found out the following:

MSEdgeDriver has different releases for different platforms (Windows, MacOS, Linux).
The LATEST_STABLE from [WebDriverManager/DriverConfigs/Impl/EdgeConfig.cs#L12](https://github.com/rosolko/WebDriverManager.Net/blob/2.12.3/WebDriverManager/DriverConfigs/Impl/EdgeConfig.cs#L12 ) returns the maximal re

[2022-02-15 09:13] vthipps commented on #168
For temporary solution we can try this also.
You can match the browser version and download the drivers.
new DriverManager().SetUpDriver(new EdgeConfig(), VersionResolveStrategy.MatchingBrowser);

[2022-02-15 09:21] lauvers commented on #168
This seems to work for us, thanks!

I thought this only worked for Chrome...

[2022-02-15 18:50] rosolko commented on #168
@DBCOOPER90 By this url you download a file with single line which contains latest version of webdriver.
Webdriver itself downloading by url (windows example) - `https://msedgedriver.azureedge.net/<version_from_previous_file>/edgedriver_win32.zip`

[2022-02-16 00:21] ts46236 commented on #138
Linux works, you just have to install chrome first. I was getting that error before I did that

[2022-02-16 13:55] DBCOOPER90 commented on #168
@rosolko, yes that's what I want, to download the latest driver and that's what is failing. The source code indicates that is the Url it uses to get the latest driver. I have a full generic framework for qa automation and in it, I have a driver library that heavily relies on this nuget package since I don't wanna be constantly updating my framework and updating all the projects that uses it.

I us

[2022-03-02 15:30] YashwanthArulmozhi opened #170 "My chrome browser in machine is Version 98.0.4758.102 (Official Build) (64-bit) but chromedriver is installing 99 version and getting failed without able to s"
My chrome browser in machine is Version 98.0.4758.102 (Official Build) (64-bit) but chromedriver is installing 99 version and getting failed without able to create session.

Chrome Version :

![ChromeVersion](https://user-images.githubusercontent.com/26196470/156392668-bec85316-1e79-4ede-b7aa-d210f755cc88.png)

I use latest WEBDRIER MANAGER Version : 2.12.3

Do we have to do anything from our end

[2022-03-02 17:38] rosolko commented on #170
All of because by default it took latest published by chrome team version. And not matching you local browser.

 `new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);`

[2022-03-02 17:45] YashwanthArulmozhi commented on #170
Yes. I was able to figure the issue and I did the same and it worked fine. Thank you so much :)

[2022-03-02 21:30] DerekFoulk opened #171 "'VersionResolveStrategy.MatchingBrowser' throws 'System.Exception Not able to get chrome version or not installed'"
I ran into the same issue as the user in #170 and tried using `VersionResolveStrategy.MatchingBrowser` to remedy the issue. After doing so, I ran into another issue...

Using the code below, I receive the following exception `System.Exception Not able to get chrome version or not installed`:

[code]

Test output window:

[code]

I expected that passing `VersionResolveStrategy.MatchingBrowser` woul

[2022-03-08 08:10] #170 closed

[2022-04-05 13:57] go-live-tech opened #172 "FirefoxDriver download is broken due to changes in html of download page."
When doing setup of FirefoxDriver using "Latest" version, WebDriverManager will fetch the page [https://github.com/mozilla/geckodriver/releases](https://github.com/mozilla/geckodriver/releases), and get HTML of the first release link.

Problem is, now this link has line breaks in its content:

![image](https://user-images.githubusercontent.com/68708450/161769174-5e93d7ef-3131-4b51-8ffe-91e624c4bf7

[2022-04-05 14:48] rosolko commented on #172
Fixed in 2.12.4 version

[2022-04-06 08:55] Draclain commented on #44
Hello, I am writing to report I have the same exception generated but with firefox.
System.ArgumentException : Illegal characters in path.
   at System.IO.Path.CheckInvalidPathChars(String path, Boolean checkAdditional)
   at System.IO.Path.Combine(String[] paths)
   at WebDriverManager.Helpers.FileHelper.GetBinDestination(String driverName, String version, Architecture architecture, String binNam

[2022-04-06 09:44] rosolko commented on #44
@Draclain Hi, just update to 2.12.4 version. Fix related issue https://github.com/rosolko/WebDriverManager.Net/issues/172

[2022-04-29 06:25] deepakkg88 opened #174 "WebDriverManager in Selenium C# is not working"
I am getting below exception when I use webdriver manager in c#. Can someone please have a look and advise?

Code used:

new WebDrivereManager.DriverManager().SetUpDriver(new ChromeConfig());

Result :

The remote server returned an error :(503) Server unavailable

[2022-05-01 18:49] jdsimcock opened #175 "exe not downloading into the designated folder"
Related to issue #167 and the comment from [Pookalton](https://github.com/Pookalton) in that I need to have the driver download into a folder that the user has authority to write to. My deployed application installs into a sub-folder of the "Program Files (x86)" which after installation, the user does not have access to update.  Therefore trying to download driver into a sub-folder of the Roaming

[2022-05-01 20:53] jdsimcock commented on #175
OK so I think this issue should be closed as I looked at one of the already closed issues and found some nice code and tried that in with mine and it worked.  My working code in case that helps anyone else is:

`IDriverConfig config = (IDriverConfig)Activator.CreateInstance(typeof(EdgeConfig));`

`string latestVersion = config.GetLatestVersion();`
`string url = config.GetUrl64().Replace("<version>

[2022-05-01 20:53] #175 closed

[2022-05-05 11:29] anilr945 opened #177 "AngleSharp dependency"
Why WebDriverManager is dependent on AngleSharp package? Is it really needed to download the latest webdriver? If not, is there a way to remove the dependency? If it is needed, why it is needed? What is the role of AngleSharp in WebDriverManager?

[2022-05-05 11:53] rosolko commented on #177
It's using to parse site for getting browser driver versions. I have no plan to recreate a site parse by myself.

[2022-05-05 11:53] #177 closed

[2022-06-02 20:19] DSPAUL opened #189 "Feature request: Add VersionResolveStrategy.MachingBrowser for firefox"
RP #186 implemented GetMatchingBrowserVersion for Firefox which is a great first step but unfortunately the version of firefox is not the same as the version of the mozilla geckodriver so it is not suitable to use directly with VersionResolveStrategy.MachingBrowser.

For the current version of firefox for example which at the time of writing is v100.0.2, it should download driver v0.31.0. So when

[2022-06-09 16:48] svadivel0006 opened #191 "Selenium C# WebDriverManager, latest version: 2.13.0 is not working and throwing error"
### WebDriverManager latest Version: 2.13.0 is not working and throwing error

**Screenshot:**

_**Error Details:**_

![image](https://user-images.githubusercontent.com/85741928/172895752-83e62d55-8892-4598-b84c-af5cb9b344b1.png)

_**Version Details:**_

![image](https://user-images.githubusercontent.com/85741928/172896031-8617d8eb-0dd4-4849-a726-0e19a7a84406.png)

_**Browser .exe downloaded and a

[2022-06-09 19:39] rosolko commented on #191
`OpenQA.Selenium` error is not related to this library. Also you're point that browser driver is downloadad and located on file system. It looks like there is an arror in some part of your code.

[2022-06-10 02:58] svadivel0006 commented on #191
Hi,

Thanks for the update, if the Beta version of chrome is being used, then the below mentioned error message is displayed

Error Details:
![image](https://user-images.githubusercontent.com/85741928/172976450-8686d1be-00d1-4736-979f-bbf9d6f6822c.png)

Kindly confirm whether, the WebDriverManager supports only the stable version or Beta version too.

Please Note: In some test scenarios the beta v

[2022-06-28 08:52] rosolko commented on #167
Released with 2.14.0 version

[2022-06-28 08:52] #167 closed

[2022-06-28 16:11] svadivel0006 opened #194 "[🐛 Bug]: WebDriverManager downloads inappropriate versions of drivers and test executions are failing"
When old versions of Chrome/Edge/Firefox are installed and when the WebDriverManager is used/run, it downloads the latest version of chromedrive.exe or respective drivers and hence the test executions are failing

Screenshots:

Error Details:
![Error Details](https://user-images.githubusercontent.com/85741928/176228516-b5c85b2c-f78f-4926-9fe0-bd28a58a1caa.png)

Browser Installed Version:
![Browser

[2022-06-28 19:39] rosolko commented on #194
Library download latest driver by default. For old browser version lock exact version or update it to latest one

[2022-06-28 19:39] #194 closed

[2022-06-29 15:14] jgelon opened #195 "Feature: Use HTTP_PROXY / HTTPS_PROXY variable for proxy settings"
In all of my projects I like the use of WebDriverManager. Currently I am struggeling with a build agent that uses a proxy, however I also build on agents without a proxy or a different proxy (yeah it is well configured 😢), so I was wondering if it would be possible to use the HTTP_PROXY variable (that I already set for SonarQube) to resolve driver downloads.

This would be a very nice option :D

[2022-06-29 21:37] dministro opened #196 "Edge on Linux support"
_WebDriverManager version: 2.13.0_

`WebDriverManager` with `EdgeConfig` throws `PlatformNotSupportedException` on Linux.

Please add Linux support for edgedriver.

[2022-07-01 07:43] jgelon commented on #195
I had some spare time so created a PR for this: https://github.com/rosolko/WebDriverManager.Net/pull/197

[2022-07-01 07:55] jgelon commented on #165
Did you try to setup the Driver Resolve Strategy?
`new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);`

[2022-07-01 08:15] svadivel0006 commented on #165
Hi,

If the "Browser and version i.e. Chrome and V 86.0.4240.75" are installed in the system and the WebDrivermanager is downloading the "chromedriver" version i.e. "103.0.5060.53".

Please: If the drivers are successuflly download previously the "VersionResolveStrategy.MatchingBrowser", will work.

There are cases where the previous version of browsers have to used or run in VM or other machines

[2022-07-12 19:27] svadivel0006 opened #198 "[🐛 Bug]: Selenium4, CSharp & WebDriverManager is not downloading the latest version of EdgeDriver and throwing error"
### **When the Edge browser is upgraded from “102.0.1245.44” to “103.0.1264.49 ”, the latest EdgeDriver such as “103.0.1264.49 ” is not downloaded by the WebDriverManager and test scripts are failing.**

### **Screenshots:**

**_Error Details:_**
![image](https://user-images.githubusercontent.com/85741928/178575909-4e287304-2696-463f-97d0-02989d303256.png)

**_EdgeDriver latest version not downloa

[2022-07-12 20:23] gburghardt commented on #198
This appears to be a duplicate of #168.

[2022-07-12 20:40] gburghardt commented on #168
The URL to download the zip file has changed. Plus, the default version matching strategy fails if Microsoft does not release a version of web driver for each operating system.

Reading https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/ tells me that the major version numbers for EdgeDriver must match the major version numbers for Microsoft Edge. Same basic pattern as ChromeDriv

[2022-07-13 07:15] #198 closed

[2022-07-13 13:28] gburghardt commented on #168
A good thread to read related to this topic: https://github.com/MicrosoftEdge/EdgeWebDriver/issues/39

[2022-07-13 20:51] gburghardt commented on #198
We are still getting this error with Edge v103.0.1264.49 installed on our work laptops.

[2022-07-14 20:06] gburghardt commented on #189
I noticed this as well. I'm starting to think that the `VersionResolveStrategy` is not uniform across browser vendors. I can see two possible solutions:

1. (no public API changes) Treat "MatchingBrowser" the same as "Latest" for Firefox. Not sure how to document this, though.

2. (breaking public API changes) Remove the `VersionResolveStrategy` class. Push the logic of which version to use into t

[2022-07-17 11:04] svadivel0006 opened #199 "[🐛 Bug]: WebDriverManager with the "MatchingBrowser" command displays error in Selenium C#"
### **When the WebDriverManager is instantiated with the "MatchingBrowser" command, the browser is not launched and error is displayed**

### **_Screenshot:_**
![image](https://user-images.githubusercontent.com/85741928/179395256-df9f9192-ea7c-4993-8aba-1949889973c2.png)

[2022-08-08 08:44] naviln commented on #170
Thankyou!

[2022-08-12 16:01] bonigarcia commented on #196
It seems the driver for Edge in Linux is not managed with WebDriverManager.Net version 2.14.1. The following tests:

[code]

... produces the following error on (Ubuntu 20.04.4):

[code]

[2022-08-12 16:40] Piedone commented on #196
We're running Edge tests under Ubuntu too (like [this GHA run](https://github.com/Lombiq/Open-Source-Orchard-Core-Extensions/runs/7792443977?check_suite_focus=true), and the [test results here](https://github.com/Lombiq/Open-Source-Orchard-Core-Extensions/runs/7792752778?check_suite_focus=true) - look for `BasicVisualVerificationTests`). Check out our workarounds for Edge [in this class](https://g

[2022-08-18 18:04] Piedone commented on #196
Didn't you address this with https://github.com/rosolko/WebDriverManager.Net/commit/a88cd6cad17dda18e535554dc6a598d651a0fe4b, @rosolko?

[2022-08-18 19:28] rosolko commented on #196
@Piedone Yes, I did, thanks!

[2022-08-19 06:19] Devqon commented on #16
I too have this issue, are there some custom flags to be set? I expected just like with the `ChromeDriver` it would pick up the driver automatically after running the `new DriverManager().SetUpDriver(new FirefoxConfig());`

This is the driver init:

[code]

It does get installed in the `bin` directory:

![image](https://user-images.githubusercontent.com/9316480/185555525-f96c67a2-99d9-4a7d-8826-a3

[2022-08-25 08:30] #196 closed

[2022-08-25 08:31] rosolko commented on #196
Implemented in 2.15.0 version

[2022-08-25 08:55] dministro commented on #196
Hi @rosolko ,

Thank you!

[2022-09-08 19:40] renatosc commented on #199
Try using:

`new DriverManager().SetUpDriver(new ChromeConfig(), VersionResolveStrategy.MatchingBrowser);`

and also make sure that there is no previous **"chromedriver.exe"** in the bin directory.

[2022-09-15 12:24] Parahet opened #204 "Add Mac arm64 support"
Please add to [ChromeConfig.cs](https://github.com/rosolko/WebDriverManager.Net/blob/master/WebDriverManager/DriverConfigs/Impl/ChromeConfig.cs)
support for Mac arm64
here is solution:

[code]

[2022-09-15 12:54] Parahet commented on #204
I tested driver `105.0.5195.52/chromedriver_mac64_m1.zip` comparing to `105.0.5195.52/chromedriver_mac64.zip` (which is running on Intel)
One simple test execution time decreased from 144sec to 115sec ~ 20% difference

chip: Apple M1 Pro

[2022-09-16 13:13] rosolko commented on #204
@Parahet Thanks! Released with 2.16.0 version. Support: Chrome, Edge, Firefox.

[2022-09-16 13:13] #204 closed

[2022-09-16 13:14] #191 closed

[2022-09-16 13:15] #195 closed

[2022-09-16 13:15] #168 closed

[2022-09-16 13:15] #174 closed

[2022-09-19 16:40] titusfortner opened #206 "Missing IEDriver v4+ Support"
New releases of IEDriver are now only available on Github https://github.com/SeleniumHQ/selenium/releases

Let me know if you need help parsing the Github API to grab those.

[2022-09-23 12:53] Parahet commented on #204
awesome! thank you

[2022-09-29 02:07] yafjama22 commented on #189
I think the issue is looking at the code, the Edge and Chrome naming convention works (version 105 of the driver will work with 105 on the Browser). The issue becomes when they don't (which is the case for Firefox). In the WebDriverManager.Helpers.UrlHelper.BuildUrl method, we simply do a replace with version/release which won't work for Firefox.

I see in the Java implementation of WDM, they have

[2022-10-04 15:06] ant-222 opened #209 "The example in readme.md is unreliable"
The usage example in `readme.md` does not work reliably because is depends on a temporal coupling between two invocations:

    new DriverManager().SetUpDriver(new ChromeConfig());
    _webDriver = new ChromeDriver();

In addition to the temporal couping and out-of-bandwidth signalling, this approach will not work if an old verison of `chromedriver.exe` is presenent in the program directory, becau

[2022-10-07 19:25] fmoliveira opened #210 "Invalid chromedriver download URL for Chrome 106+ on Mac M1"
Hi everyone! The download URL generated by the library no longer works for Chrome 106+ on Mac M1 because the filename suffix changed on the ChromeDriver repository at https://chromedriver.storage.googleapis.com/.

Previously, Mac M1 binaries were named like `chromedriver_mac64_m1.zip` and the latest two versions follow the pattern `chromedriver_mac_arm64.zip`. This affects users with Mac processor

[2022-10-09 15:39] fmoliveira commented on #210
Found the commit that introduced the new suffix: https://chromium.googlesource.com/chromium/src/+/82f7c15619cb1400875276b6cb1ea0db02d21026%5E%21/chrome/test/chromedriver/support/release/nest-pack

Change tracked at: https://chromium-review.googlesource.com/c/chromium/src/+/3925559

The suffix `_m1` was filed as a bug here: https://bugs.chromium.org/p/chromedriver/issues/detail?id=4215

So this is

[2022-10-27 10:33] Parahet commented on #204
@rosolko As there was some changes in chromedriver versions, we don't have `mac64_m1` version anymore, currently its `mac_arm64`, we need to adjust
[code]
https://chromedriver.storage.googleapis.com/index.html?path=107.0.5304.62/
![image](https://user-images.githubusercontent.com/23723328/198262327-f91a310e-70bd-457f-a314-7e4155b008fe.png)

[2022-11-08 06:15] #210 closed

[2022-11-10 09:14] jmalczak commented on #210
Guys, is there any release ready with this fix?

[2022-11-11 15:34] FelixLeChat opened #218 "Release to fix #214"
Hi WebDriverManager team,

We are experiencing the bug fixed in the latest [fix: mac arm64 suffix](https://github.com/rosolko/WebDriverManager.Net/pull/214).

When are you planning to release a new version (2.16.1 or 2.17.0) for this fix ?

Thanks for the amazing lib!

[2022-11-11 17:31] rosolko commented on #218
Update package published with 2.16.1 version

[2022-11-11 17:31] #218 closed

[2022-11-11 17:32] rosolko commented on #206
Initial support added

[2022-11-11 17:32] #206 closed

[2022-11-15 19:42] fmoliveira commented on #210
Yes, version 2.16.1